.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard.container{
    padding-left: 3%;
    padding-right: 3%;
}

.dashboard-container{
    padding: 1.5rem 1rem;
}

.dashboard{
    margin-top: 4.5rem;
}

.dashboard-container{
    margin-bottom: 1rem;
    color: #4A4A4A;
    border-radius: 2rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;       
    background: linear-gradient(135deg, #D1E6A1, #A8E085, #D4D9B2);
    padding-bottom: 1rem;
}

.dashboard-container-title{
    font-size: var(--fs-xl); 
    margin-bottom: 1rem;
}

.dashboard-container-descrip{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.dashboard-container-descrip p{
    font-size: var(--fs-base);
    padding:  0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid #A8E085;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

.dashboard-container-number,
.dashboard-container-cal {
    font-size: var(--fs-md); 
    font-weight: 500;
}

.error-message p {
   font-size: var(--fs-sm); 
   color: #E74C3C;
}

.loading-message p {
   font-size: var(--fs-sm); 
   color: #4A4A4A;
}



@media (min-width: 768px){
    .dashboard.container{
        padding-left: 10%;
        padding-right: 10%;
    }

    .dashboard-container-title{
        margin-bottom: 1.5rem;
    }

    .dashboard{
        margin-top: 5.5rem;
    }

    .dashboard-container{
        padding: 2rem;
        margin-bottom: 1.5rem;
    }

    .dashboard-container-descrip{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .dashboard-container-descrip p{
        padding:  0.8rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border: 1px solid #A8E085;
        border-radius: 0.5rem;
        background-color: #ffffff;
    }
  
    .user-historial-container{
        display: flex;
        justify-content: space-between;
    }
}


@media (min-width:1024px){
    .dashboard{
        margin-top: 6.4rem;
    }
    
    .flex-container{
        display: grid;
        gap: 1rem;
        grid-auto-rows: 28rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .radial-chart-container{
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        max-width: 100%;
        overflow-y: auto;
        border-radius: 2rem;
        background-color: #ffffff;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;       
    }
  
    .radial-chart-container{
        grid-column: span 2;   
    }
}


@media (min-width:1920px){
    .dashboard{
        margin-top: 7rem;
    }

    .dashboard.container{
        padding-left: 12%;
        padding-right: 12%;
    }  

    .flex-container{
        display: grid;
        gap: 1rem;
        grid-auto-rows: 34rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}






  