/* Estilos para el contenedor del gráfico */
.radial-chart-container {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow-y: hidden;
  overflow-x:hidden;
  border-radius: 2rem;
  background-color: var(--color-base);
  box-shadow: var(--shadow-container);
}

.radial-title{
  color: var(--color-text);
  font-size: var(--fs-lg);
  /*color: var(--color-text);*/
  margin-bottom: 1rem;
}

.radial-chart-legend{
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  flex-direction: column;
}

.legend-item{
  display: flex;
  font-size: var(--fs-sm);
  align-items: center;
  gap: 1rem;
  /*color: #7A7570;*/
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.legend-color{
  display: inline-block;
  border-radius: 0.2rem;
  width: 2rem;
  height: 0.8rem;
}

.radial-chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 15rem;
  height: 100%;
}

.radial-chart-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--color-text);
}

.radial-chart-goal {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  font-size: var(--fs-base);
}

.radial-chart-goal.no-data{
  font-size: var(--fs-sm);
}
  
/* Colores según el estado del objetivo */
.radial-chart-goal.exced {
  color: #FF5722; 
}
  
.radial-chart-goal.archived {
  color: #66BB6A; 
}
  
.radial-chart-goal.remaining {
  color: #E0E0E0; 
}



@media (min-width:540px){
  .radial-chart-legend ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: row;
  }
}


@media (min-width: 768px) {
  .radial-chart{
    max-width: 20rem;
  }

  .radial-chart-container{
    padding: 2rem;
  } 
}


@media (min-width:1024px){
  .radial-chart-legend,
  .legend-item{
    margin-bottom: 0rem;
  }

  .radial-chart{
    max-width: 15rem;
  }

  .legend-item{
    gap: 0.5rem;
  }

  .radial-chart-container{
    padding: 1.5rem;
  } 
}


@media (min-width:1280px){
  .radial-chart{
    max-width: 16rem;
  }
}


@media (min-width:1920px){
  .radial-chart{
    max-width: 20rem;
  }
}
  