.home-container {
  margin-top: 3.5rem;    
  margin-bottom: 2rem;
  text-wrap: pretty;
  text-align: center;
}
  
.home-title {
  font-size: var(--fs-2xl);
  color: var(--heading-color);
  font-family: var(--font-title);
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
}

.part-1 {
  margin-right: 0.5rem;
}

.part-2 {
  color: var(--accent-color);
}

.home-description{
  font-size: var(--fs-md);
  color: var(--text-secondary);
  line-height: 1.5;
}

.status{
  font-size: var(--fs-sm);
}

.error-message{
  font-size: var(--fs-sm);
  color: #e74c3c;
  font-weight: 500;
}



@media (min-width:768px){
  .home-container{
    margin-top: 6rem;
  }

  .home-title {
    margin-bottom: 1rem;
  }
}


@media (min-width:1024px){
  .home-container{
    margin-top: 7rem;
  }
}


@media (min-width:1080px){
  .home-container{
    margin-bottom: 4rem;
  }
}

  