/* Estilos para el contenedor del gráfico */
.radial-chart-container {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow-y: hidden;
  overflow-x:hidden;
  min-height: 50%;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


/* Estilos para el contenedor del gráfico radial */
/*.radial-chart {
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  /*height: auto;
  align-items: center;
  position: relative;
}*/

.radial-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 20rem;
  height: 100%;
}

/*.radial-chart canvas {
  width: 100% !important;
  height: auto !important;
}*/

/*.radial-chart-text {
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  top: 65%;
  left: 50%;
  right: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*width: 60%;
  text-align: center;
  font-size: 1rem;
  /*width: 35%; 
  font-weight: 600;
  color: #4F4F4F;
  padding: 0.5rem;
}*/

.radial-chart-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: var(--fs-base);
  color: #4F4F4F;
}

.radial-chart-goal {
  /*font-size: 0.9rem;*/
  font-size: var(--fs-md);
  text-align: center;
  padding: 0.3rem 0.6rem; /* Espaciado menor para evitar que se corte */
}
  
.radial-chart-goal.archived,
.radial-chart-goal.exced{
  padding: 1rem;
  padding: 0.5rem 0.8rem;
}
  
/* Colores según el estado del objetivo */
.radial-chart-goal.exced {
  color: #FF5722; /* Rojo para cuando se excede */
}
  
.radial-chart-goal.archived {
  color: #66BB6A; /* Verde cuando se alcanza el objetivo */
}
  
.radial-chart-goal.remaining {
  color: #E0E0E0; /* Gris para calorías restantes */
}


  
@media (min-width: 768px) {

    /*.radial-chart-text {
      width: 28%;
    }*/

  .radial-chart{
    /*max-width: 22rem;*/
    max-width: 20rem;
  }

  .radial-chart-container{
    padding: 2rem;
  } 

  .radial-chart-text{
    top: 63%;
  }

  /*.radial-chart-text {
    top: 60%;
    left: 50%;
  }*/
}


@media (min-width:1024px){
    /*.radial-chart-text {
      width: 45%;
      top: 59%;
      left: 50%;
    }*/

  .radial-chart-text{
    top: 62%;
    /*font-size: 1rem;*/
  }

  .radial-chart{
    /*max-width: 24rem;*/
    max-width: 20rem;
  }

  .radial-chart-container{
    padding: 1.5rem;
  } 
}


@media (min-width:1280px){
   .radial-chart-text{
    top: 59%;
    /*font-size: 1rem;*/
  }

  .radial-chart{
    max-width: 22rem;
  }
}


@media (min-width:1920px){
 
  /*.radial-chart-goal{
    font-size: 1.2rem;
  }*/

  /*.radial-chart-text {
    top: 56%;
    left: 50%;
  }*/

  .radial-chart{
    max-width: 23rem;
  }

  /*.radial-chart-title{
    font-size: 2rem;
  }*/

  .radial-chart-text {
    top: 56%;
    /*font-size: 1.4rem;*/
  }

 
}
  