.footer {
  background-color:var(--heading-color);
  color: #9ca3af;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 2.5rem;
}

.footer-section.principal p {
  margin-top: 1rem;
}

.footer-section h4 {
  color: var(--color-bg);
  font-size: var(--fs-base);
  font-weight: 600;
  margin-bottom: 1rem;
}
  
.footer-section p {
  color: #9ca3af;
  font-size: var(--fs-sm);
  line-height: 1.6;
}
  
.footer-links {
  padding: 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
  
.footer-links li a {
  color: #9ca3af;
  font-size: var(--fs-sm);
  transition: color 0.3s ease;
}
  
.footer-links a:hover {
  color:#10b981;
}
  
.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
  
.social-icons a svg {
  color: #9ca3af;
  font-size: var(--fs-lg);
  transition: color 0.25s ease, transform 0.25s ease;
}
  
.social-icons a svg:hover {
  color:#10b981;
  transform: translateY(-4px);
}
  
.footer-bottom {
  border-top: 1px solid #374151;
  color: #94A3B8;
  padding-top: 2rem;
  font-size: var(--fx-xs);
  text-align: center;
}

.footer-logo .part-1 {
  color: var(--color-bg) !important;
}

  
@media (min-width: 768px) {
  .footer-section{
    text-align: start;
  }
    
  .social-icons {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 1023px) {
  .footer__container {
    flex-direction: row;
    align-items: initial;
  }

  .footer-bottom {
    font-size: var(--fs-sm);
  }
}

@media (min-width: 1150px) {
  .footer-section h4 {
    font-size: var(--fs-md);
  }

  .footer-section p {
    font-size: var(--fs-base);
  }

  .footer-links li a {
    font-size: var(--fs-base);
  }

  .footer-section.contact a {
    font-size: var(--fs-lg);
  }
}




  