.userprofile-content {
  background-color: var(--color-base);
  box-shadow: var(--shadow-container);
  border-radius: 2rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; 
}

.userprofile-info{
  font-size: var(--fs-base); 
}
  
.userprofile-title {
  color: var(--color-text);
  margin-bottom: 1.5rem;
  font-size: var(--fs-lg);
}
  
.userprofile-form {
  display: flex;
  font-size: var(--fs-base);
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 100%;
  overflow-y: auto; 
}
  
.userprofile-label {
  display: flex;
  font-size: var(--fs-sm);
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-tertiary);
}
  
.userprofile-label input,
.userprofile-label select {
  width: 70%;
  padding: 0.3rem 1rem;
  font-size: var(--fs-sm);
  border-radius: 0.8rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: var(--color-text);
  background: var(--gray-offwhite);
  border: 1.5px solid var(--color-surface);
}
  
.userprofile-label input:focus,
.userprofile-label select:focus {
  outline: none;
  border-color: #F8A541;
  box-shadow: 0 0 10px rgba(248, 165, 65, 0.5);
}

.userprofile-label input::placeholder{
  font-size: var(--fs-sm);
}
  
.userprofile-buttons {
  display: flex;
  justify-content: space-between;
}
  
.userprofile-btn.cancel {
  background-color: #ff2c30;
}
  
.userprofile-btn.cancel:hover {
  opacity: 0.9;
}
  
.userprofile-description {
  font-size: var(--fs-sm);
  display: flex;
  color: var(--color-text-secondary);
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}
  
.userprofile-description:nth-child(8) {
  margin-bottom: 1.5rem;
}
  
.userprofile-buttons {
  margin-top: 1.2rem;
}
  
.userprofile-btn {
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  border: none;
  font-weight: 500;
  display: flex;
  justify-self: end;
  font-size: var(--fs-sm);
  background-color: var(--color-surface);
  color: var(--color-base);
  transition: background-color 0.3s, opacity 0.3s;
}
  
.userprofile-btn.save:hover {
  background-color: var(--color-surface-hover);
}

.userprofile-btn.edit{
  padding: 0.5rem 1.5rem;
}

.userprofile-btn.edit:hover {
  background-color: var(--color-surface-hover);
}

  

@media (min-width: 768px) { 
  .userprofile-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    max-width: 100%;
    overflow-y: auto;
  }
   
  .userprofile-list {
    display: flex;
    flex-direction: column;
    gap: 0.48rem;
  }

  .userprofile-description{
    display: flex;
    gap: 1.5rem;
  }

  .userprofile-label input,
  .userprofile-label select {
    width: 70%;
    padding: 0.3rem 0.6rem;
  }

  .userprofile-content{
    padding: 2rem;
    max-height: 100%; 
  }
  
  .userprofile-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .userprofile-buttons{
    gap: 2rem;
  }

  .userprofile-btn {
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
    border: none;
    font-weight: 500;
    background-color: var(--color-surface);
    color: var(--color-base);
    transition: background-color 0.3s, opacity 0.3s;
  }

  .userprofile-btn.edit{
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    margin: 0;
    max-width: 25%;
    overflow-y: none;
  }
  
  .userprofile-description div {
    display: flex;
  }
}


@media (min-width:1024px){
  .userprofile-content{
    padding: 1.5rem;
  }

  .userprofile-container{
    scrollbar-width: thin;  /* Firefox: scrollbar fino */
    scrollbar-color: #B0B0B0 var(--gray-lighter); 
    max-width: 100%;
    grid-column: span 2;
    max-height: 96.8%; 
  }

  .userprofile-container::-webkit-scrollbar {
    width: 0.5rem;  /* Ajusta el ancho del scrollbar */
  }

  .userprofile-container::-webkit-scrollbar-track {
    background: var(--gray-lighter);  /* Color de fondo del track */
    border-radius: 2rem;
  }

  .userprofile-container::-webkit-scrollbar-thumb {
    background: #B0B0B0;  
    border-radius: 1rem;
    border: 2px solid var(--gray-lighter);  
  }

  .userprofile-container::-webkit-scrollbar-thumb:hover {
    background: #A0A0A0;  
  }

  .userprofile-btn.edit{
    margin-bottom: 1rem;
  }

  .userprofile-buttons{
    margin-bottom: 1rem;
  }

  .userprofile-info{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}


@media (min-width:1920px){
  .userprofile-content{
    padding: 2.5rem 2rem;
  }
}
  