.results-content {
  transition: all 0.3s ease;
  font-size: 1rem; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.heading-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.heading-title {
  /*font-size: 1.8rem;*/
  font-size: var(--fs-lg);
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.heading-description{
  /*font-size: 1rem;*/
  font-size: var(--fs-base);
  color: #555;
}

.heading-food {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.5rem;
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 80vw; 
  height: 80vw; 
  max-width: 90vw; 
  max-height: 90vh;*/
  width: 70vw;
  height: 70vw; 
  max-width: 80vw;
  max-height: 80vh;   
  aspect-ratio: 1 / 1; 
  padding-bottom: 2rem; 
}

.nutrient-details {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center; 
  width: 100%;
  max-width: 100%; 
  gap: 1rem; 
}

.nutrient {
  background-color: #E0E0E0;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
  width: 100%;  
  min-width: 10rem; 
  max-width: 15rem;  
  /*font-size: 1rem;*/
  font-size: var(--fs-sm);
}

.success-message,
.error-message{
  font-size: var(--fs-base);
  margin-top: 2rem;
  text-align: end;
}
  
.results-content {
  padding: 0rem;
}

.nutrient-details {
  flex-direction: column; 
  align-items: center; 
  gap: 1rem; 
}

.nutrient {
  flex: 1 1 20%; 
  max-width: 15rem;  
  width: auto; 
  font-size: 1rem; 
}

.nutrient-add-btn{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-self: end;
  padding: 0.5rem 0.8rem;
  border: none;
  font-weight: 500;
  font-size: var(--fs-base);  
  background-color: #7BBE4A;
  color: #ffffff;
  border-radius: 0.6rem;
  transition: background-color .4s;
}

.nutrient-add-btn:hover{
  background-color: #6a9e3d;
}



@media (min-width:768px){
  .chart-container {
    width: 45vw; 
    height: 45vw; 
    max-width: 60vw; 
    max-height: 60vh;
  }

  .nutrient-details {
    flex-direction: row;
    align-items: center; 
    gap: 1rem; 
  }

  .nutrient {
    flex: 1 1 20%; 
    max-width: 15rem;
    margin-bottom: 2rem;  
    width: auto; 
    /*font-size: 1rem;*/ 
  }

  .results-content{
    padding: 1.5rem;
  }

  .nutrient-add-btn{
    margin-top: 0.6rem;
    display: flex;
    justify-self: end;
    /*font-size: 1.2rem;*/
    border: none;
    font-weight: 500;
    background-color: #7BBE4A;
    color: #ffffff;
    border-radius: 0.6rem;
    transition: background-color .4s;
  }

  .nutrient-add-btn:hover{
    background-color: #6a9e3d;
  }

  /*.heading-title{
    font-size: 2rem;
  }

  .heading-description{
    font-size: 1.15rem;
  }

  .nutrient{
    font-size: 1.05rem;
  }*/
}


@media (min-width:1024px){
  .chart-container {
    width: 40vw; 
    height: 40vw; 
    max-width: 60vw;
    max-height: 60vh; 
  }

  /*.success-message{
    font-size: 1.1rem;
  }*/
}


@media (min-width:1280px){
  .chart-container {
    width: 40vw; 
    height: 40vw; 
    max-width: 45vw; 
    max-height: 45vh; 
  }
}


@media (min-width:1920px){
  .chart-container {
    width: 40vw; 
    height: 40vw; 
    max-width: 45vw; 
    max-height: 45vh; 
  }

  .results-content{
    padding: 2.5rem;
  }

  /*.heading-title{
    font-size: 2.6rem;
  }*/

  .heading-description{
    /*font-size: 1.5rem;*/
    margin-bottom: 0.5rem;
  }

  /*.nutrient{
    font-size: 1.4rem;
  }

  .nutrient-add-btn{
    font-size: 1.5rem;
  }

  .success-message{
    font-size: 1.4rem;
  }*/
}
