.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}

.loading-container p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #4fa94d;  
  font-weight: bold;
}

.load-more-btn {
  margin-top: 1rem;
  font-size: 1rem;
  display: flex;
  justify-self: end;
  font-weight: 500;
  color: #4fa94d;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.load-more-btn:hover {
  text-decoration: underline;
  text-decoration-color: #3d8c3d;
}

.historial-container{
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;        color: #4A4A4A;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.historial-title{
  font-size: var(--fs-lg);
  margin-bottom: 1.2rem;
}

.historial-item {
  /*font-size: 0.6rem;*/
  font-size: var(--fs-sm);
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: #9E9E9E; 
}
      
.historial-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.historial-subtitle{
  display: flex;
  /*font-size: 0.78rem;*/
  font-size: var(--fs-sm);
  font-weight: 600;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}

.historial-calories,
.historial-name,
.historial-date {
  font-size: inherit;
}

.historial-message{
  font-size: var(--fs-base);
  font-style: italic;
}



@media (min-width:768px){
  .historial-container{
    padding: 2rem;
  }

  .historial-title{
    margin-bottom: 1.2rem;
    /*font-size: 1.25rem;*/
  }

  .historial-item {
    display: flex;
    /*font-size: 1rem;*/
    justify-content: space-between;
    font-style: italic;
    color: #9E9E9E; 
  }

  .historial-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .historial-subtitle{
    display: flex;
    /*font-size: 1rem;*/
    margin-bottom: 0.8rem;
    justify-content: space-between;
  }

  .historial-date{
    margin-right: 2.5rem;
  }

  .historial-calories{
    margin-left: 2rem;
  }
}


@media (min-width:1280px){
  /*.historial-title{
    font-size: 1.5rem;
  }*/

  /*.historial-subtitle{
    font-size: 1.25rem;
  }

  .historial-item{
    font-size: 1.2rem;
  }

  .historial-message{
    font-size: 1.3rem;
  }

  .load-more-btn{
    font-size: 1.2rem;
  }*/
}


@media (min-width:1920px){
  /*.historial-title{
    font-size: 2rem;
  }

  .historial-subtitle{
    font-size: 1.4rem;
  }

  .historial-item{
    font-size: 1.3rem;
  }

  .historial-message{
    font-size: 1.3rem;
  }

  .load-more-btn{
    font-size: 1.3rem;
  }*/
}
