.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: opacity 0.3s ease;
}
  
.modal-show {
  display: flex;
  opacity: 1;
}
  
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
  
/* Modal Content */
.modal-content {
  background: #fff;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  z-index: 30;
  max-width: clamp(18rem, 8rem + 10vw, 40rem);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative; /* Aseguramos que el close se posicione dentro de este contenedor */
  animation: scaleUp 0.3s ease-in-out;
}

.modal-title{
  font-size: var(--fs-lg);
  color: #2C2F36;
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-description{
  color: #5C667B;
  margin-bottom: 1.5rem;
}

.modal-signup,
.modal-login{
  font-size: var(--fs-sm);
}


.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%; /* Asegura que ocupe todo el alto del modal */
}
  
.loading-overlay p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #4fa94d;
}
  
  
/* Animación para el modal */
@keyframes scaleUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
  
.modal-form input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1.4px solid #CED4DA;
  border-radius: 0.5rem;
  background-color: #f9fafb;
  color: #2D3748;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  font-size: var(--fs-base);
  transition: all .3s ease-in-out;
}

.modal-form input:focus{
  outline: none;
  border: 1.4px solid #7BBE4A;
  box-shadow: 0 0 0 3px rgba(123, 190, 74, 0.2);
}

.modal-form input::placeholder{
  font-size: var(--fs-sm);
  color: #6B7280;
  font-weight: 500;
}
  
.modal-content .btn {
  background-color: #7BBE4A;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: var(--fs-base);
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  
.modal-content .btn:hover {
  background-color: #6a9e3d;
}
  
/* Botón Close dentro del modal */
.modal-content .close {
  font-size: var(--fs-xl);
  cursor: pointer;
  color: #5C667B;
  font-weight: 300;
  position: absolute;
  top: 0.2rem;
  right: 0.8rem;
  -webkit-tap-highlight-color: transparent; /* quita el flash azul en móviles */
}
  
/* Enlace para cambiar entre Login y Signup */
.link-switch {
  font-size: var(--fs-sm);
  color: #7BBE4A;
  font-weight: bold;
  cursor: pointer;
}
  
.link-switch:hover {
  text-decoration: underline;
}
  
/* Mensajes de error */
.error {
  color: #E74C3C;
  font-size: var(--fs-sm);
  margin-top: 1rem;
}

.modal-login{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.modal-signup{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.modal-title.login{
  margin-bottom: 1.5rem;
}
  


@media (min-width:400px){
  .modal-content{
    padding: 1.5rem 2rem;
  }
}
 
  
@media (min-width: 600px) {
  .modal-content {
    padding: 2.8rem 2.2rem 1.5rem;
  }
}


@media (min-width:768px){
  .modal-content{
    max-width: clamp(20rem, 8rem + 10vw, 40rem);
  }
}

  
@media (min-width: 1024px){
  .modal-content {
    max-width: clamp(22rem, 8rem + 10vw, 40rem);
    padding: 2.8rem 2.2rem 1.5rem;
  }
}
  
  
@media (min-width: 1280px){
  .modal-content {
    max-width: clamp(24rem, 8rem + 10vw, 40rem);
    padding: 2.8rem 2.5rem 1.5rem;
  }
}


@media (min-width:1920px){
  .modal-content{
    max-width: clamp(25rem, 8rem + 10vw, 40rem);
    padding: 3rem;
  } 
} 
  
  
  
  
  
  