.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 101;
  transition: opacity 0.3s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
  
.modal-show {
  display: flex;
  opacity: 1;
}
  
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
  
/* Modal Content */
.modal-content {
  background-color: var(--color-bg);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  z-index: 30;
  max-width: clamp(18rem, 8rem + 10vw, 40rem);
  box-shadow: var(--shadow-lg);
  position: relative; 
  animation: scaleUp 0.3s ease-in-out;
}

.modal-title{
  font-size: var(--fs-lg);
  color: var(--heading-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.modal-description{
  color: var(--text-secondary);
  font-size: var(--fs-sm);
  margin-bottom: 1.5rem;
}

.modal-signup,
.modal-login{
  font-size: var(--fs-sm);
  color: var(--text-secondary);
  margin-top: 1rem;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px; 
}
  
.loading-overlay p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-success);
}
  
@keyframes scaleUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  
.modal-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border: 1px solid #e5e7eb; 
  border-radius: 0.5rem;
  background-color: var(--color-bg);
  color:  #111827;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  font-size: var(--fs-base);
  transition: all .3s ease-in-out;
}

.modal-form input:focus{
  outline: none;
  box-shadow: 0 0 0 2px var(--accent-color-light);
  border-color: var(--accent-color);
}

.modal-form input::placeholder{
  font-size: var(--fs-sm);
  color:#6b7280;
  font-weight: 500;
}
  
.modal-content .btn {
  background-color: var(--accent-color);
  color: var(--color-bg);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: var(--fs-base);
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.btn:hover {
  background: #0ea774;
}

.btn:active {
  background: #0c8f65;
}

.btn:disabled {
  opacity: .7;
  cursor: wait;
}
  
.modal-content .close {
  font-size: var(--fs-xl);
  cursor: pointer;
  color: #5C667B;
  font-weight: 300;
  position: absolute;
  top: 0.2rem;
  right: 0.8rem;
  -webkit-tap-highlight-color: transparent; /* quita el flash azul en móviles */
}
  
.link-switch {
  font-size: var(--fs-sm);
  color: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
}
  
.link-switch:hover {
  text-decoration: underline;
}
  
.error-auth-message {
  font-size: var(--fs-sm);
  color: #dc2626;
  margin: 1rem 0;
}

.modal-login{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.modal-signup{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.modal-title.login{
  margin-bottom: 1.5rem;
}
  


@media (min-width:400px){
  .modal-content{
    padding: 1.5rem 2rem;
  }
}
 
  
@media (min-width: 600px) {
  .modal-content {
    padding: 2.8rem 2.2rem 1.5rem;
  }
}


@media (min-width:768px){
  .modal-content{
    max-width: clamp(20rem, 8rem + 10vw, 40rem);
  }
}

  
@media (min-width: 1024px){
  .modal-content {
    max-width: clamp(22rem, 8rem + 10vw, 40rem);
    padding: 2.8rem 2.2rem 1.5rem;
  }
}
  
  
@media (min-width: 1280px){
  .modal-content {
    max-width: clamp(24rem, 8rem + 10vw, 40rem);
    padding: 2.8rem 2.5rem 1.5rem;
  }
}


@media (min-width:1920px){
  .modal-content{
    max-width: clamp(25rem, 8rem + 10vw, 40rem);
    padding: 3rem;
  } 
} 
  
  
  
  
  
  