.loading-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--gray-lighter); 
}

.loading-container p {
  margin-top: 1rem;
  font-size: var(--fs-base);
  color: var(--color-success); 
  font-weight: bold;
}